<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">firstName</th>
                                <th scope="col">lastName</th>
                                <th scope="col">maidenName</th>
                                <th scope="col">age</th>
                                <th scope="col">gender</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i in all.data ">
                                <td>{{i.id}}</td>
                                <td>{{i.firstName}}</td>
                                <td>{{i.lastName}}</td>
                                <td>{{i.maidenName}}</td>
                                <td>{{i.age}}</td>
                                <td>{{i.gender}}</td>
                            </tr>
                        </tbody>
                    
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>